@main("Log In", null) {
    <form role="form" action="@routes.UserController.authenticate()" method="post">
        <input class="auth form-control" type="text" placeholder="Username" required="" name="username"></input>
        <input class="auth form-control" type="password" placeholder="Password" required="" name="password"></input>
        <div class="auth button-group">
            <button class="btn btn-primary" type="submit">Log in</button>
            <a class="btn btn-primary pull-right" href="#">Register</a>
        </div>
    </form>
}
