body {
    background: url(/assets/img/space.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.revalia {
    font-family: Revalia;
    text-transform: uppercase;
}

.description-box {
    background: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    max-width: 600px;
    margin: 100px auto 140px;
    z-index: 1;
}

.description-planet {
    position: fixed;
    margin-left: 50%;
    z-index: -1;
}

.description-planet.mercury {
    padding-left: 190px;
    margin-top: -247px;
}

.description-planet.venus {
    padding-left: 162px;
    margin-top: -275px;
}

.description-planet.earth {
    padding-left: 166px;
    margin-top: -281px;
}

.description-planet.mars {
    padding-left: 160px;
    margin-top: -270px;
}

.description-planet.jupiter {
    padding-left: 43px;
    margin-top: -398px;
}

.description-planet.saturn {
    padding-left: 26px;
    margin-top: -338px;
}

.description-planet.uranus {
    padding-left: 190px;
    margin-top: -295px;
}

.description-planet.neptune {
    padding-left: 203px;
    margin-top: -231px;
}

.dropdown-menu {
    background-color: #080808;
}

.dropdown-menu>li>a {
    color: #999;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    color: #999;
    background-color: #222;
}

h1.description-title {
    color: #222;
    text-align: right;
    padding: 0.5em 0.5em 0 0;
}

p.description-text {
    font-size: 20pt;
    padding: 0 0.5em 0.5em 0.5em;
    text-align: justify;
}

.logo {
	font-family: Revalia;
	font-size: 5vw;
	color: #FFFFFF;
	position: absolute;
	width: 100%;
	z-index: -1;
}

.logop {
	text-align: right;
	padding-right: 120px;
	margin-top: 35%;
  	text-shadow: 3px 3px 3px #222;
  	opacity: 0.65;
}

.tagline {
	text-align: right;
	padding-right: 120px;
	margin-top: -2%;
        text-shadow: 3px 3px 3px #222;
        opacity: 0.65;
	font-size: 1vw;
}

.starfield {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: -1;
}

.planet {
    position:fixed;
    height:auto;

    /* glow effect */
    border-radius: 50%;
    transition: 0.25s cubic-bezier(0, 0, 0.8, 1.5);
    -webkit-transition: 0.25s cubic-bezier(0, 0, 0.8, 1.5);
}

.planet:active, .planet:hover, .planet:focus, .planet.hover {
    box-shadow: white 0 0 75px 0;
}

.planet.mercury {
    right: 88%;
    margin-top: 34%;
    width:6%;
}

.planet.venus {
    right: 77%;
    margin-top: 29%;
    width:9.5%;
}

.planet.earth {
    right: 67%;
    margin-top: 25%;
    width:10%;
}

.planet.mars {
    right: 59%;
    margin-top: 23%;
    width:8%;
}

.planet.jupiter {
    right: 40%;
    margin-top: 12%;
    width:20%;
}

.planet.uranus {
    right: 12%;
    margin-top: 4%;
    width:11%;
}

.uranus-rings {
    position: fixed;
    right: 12%;
    margin-top: 0%;
    width: 12%;
    height: auto;
}

.planet.saturn {
    right: 25%;
    margin-top: 8%;
    width:15%;
}

.saturn-rings {
    position: fixed;
    right: 19%;
    margin-top: 8%;
    width: 25%;
    height: auto;
}

.planet.neptune {
    right: 5%;
    margin-top: 3%;
    width:9%;
}
