@main("About") {

<span class="revalia">Atlas</span> is Earth's foremost pioneer in interplanetary travel. We seek to provide customers with the best and most out-of-this-world trips there are to offer.
<br>
<br>Today the planets, tomorrow the stars!
<br>
<br>
<strong>Our <span class="revalia">Atlas</span> Team</strong>
<br>
<br>
Andrew Clissold - <em>Senior Intergalactic Specialist</em>
<br>
<br>
Andrew is a talented cosmonaut who seeks to bring space travel to the ordinary family! His specialties include Java, HTML and CSS.
<br>
<br>
Rachel Glomski - <em>Planetary Consultant</em>
<br>
<br>
Rachel has been in the business of planetary study for many years, and wants to help teach others about space. Her specialties include Java, HTML and graphic design.
<br>
<br>
John Defour - <em>Interstellar Travel Agent</em>
<br>
<br>
John is eager to take the travel industry to new heights—literally! Often cited for his award winning work with our solar system, we're excited to have John as a member of our company. His specialties include Java and HTML.

}
