@main("About", "John DeFour") {

ATLAS is Earth's foremost pioneer in interplanetary travel. We seek to provide customers with the best and most out-of-this-world trips there are to offer. 
<br>Today the planets, tomorrow the stars!
<br>
<br>
<u>Our ATLAS Team</u><br>
Andrew Clissold - Senior Intergalactic Specialist
<br>
Andrew is a talented cosmonaut who seeks to bring space travel to the ordinary family! His specialties include Java, HTML and CSS.
<br>
Rachel Glomski - Planetary Consultant
<br>
Rachel has been in the business of planetary study for many years, and wants to help teach others about space. Her specialties include Java, HTML and graphic design.
<br>
John Defour - Interstellar Travel Agent
<br>
John is eager to take the travel industry to new heights- literally! Often cited for his award winning work with our solar system, we're excited to have John as a member of our company. His specialties include Java and HTML.

}
