@main("Index") {
    <div id="container" class="container">
        <ul id="scene" class="scene">
            <li class="layer" data-depth="0.80"><img class="planet neptune" src="/assets/img/neptune.png"></li>
            <li class="layer" data-depth="0.70"><img class="planet uranus" src="/assets/img/uranus1.png"></li>
            <li class="layer" data-depth="0.70"><img class="uranus-rings" src="/assets/img/uranus2.png"></li>
            <li class="layer" data-depth="0.50"><img class="planet saturn" src="/assets/img/saturn1.png"></li>
            <li class="layer" data-depth="0.50"><img class="saturn-rings" src="/assets/img/saturn2.png"></li>
            <li class="layer" data-depth="0.30"><img class="planet jupiter" src="/assets/img/jupiter.png"></li>
            <li class="layer" data-depth="0.45"><img class="planet mars" src="/assets/img/mars.png"></li>
            <li class="layer" data-depth="0.50"><img class="planet earth" src="/assets/img/earth.png"></li>
            <li class="layer" data-depth="0.70"><img class="planet venus" src="/assets/img/venus.png"></li>
            <li class="layer" data-depth="0.80"><img class="planet mercury" src="/assets/img/mercury.png"></li>
        </ul>
    </div>

    <script src="@routes.Assets.at("/js/parallax.js")"></script>
    <script>
        // parallax.js parameters
        var scene = document.getElementById('scene');
        var parallax = new Parallax(scene, {
            invertX: true,
            invertY: true,
            limitX: 15,
            limitY: 10,
            scalarX: 5,
            scalarY: 8,
            frictionX: 0.8,
            frictionY: 0.8
        });

        // applies :hover to a planet below its rings
        $('.saturn-rings').hover(
            function() { $('.saturn').addClass('hover'); },
            function() { $('.saturn').removeClass('hover'); }
        );
        $('.uranus-rings').hover(
            function() { $('.uranus').addClass('hover'); },
            function() { $('.uranus').removeClass('hover'); }
        );
    </script>

}
