@(comments: List[Comment])

@main("Jupiter", comments) {

This gas giant is the perfect place for your next exotic vacation. It is the largest planet in our solar system, so it's no surprise that it pulls in such large crowds each year. Go on a moon-watching tour! Jupiter has 67 of these satellites to observe. One of the most popular destinations is the famous "Great Red Spot," but be sure to bring an umbrella—this giant storm has been raging non-stop for over 400 years!

}

<img class="description-planet jupiter" src="@routes.Assets.at("img/jupiter.png")">
