@(page: String, comments: List[Comment])(content: Html)

<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        @if(page == "Index") {
            <title>Atlas</title>
        } else {
            <title>Atlas - @page</title>
        }

        <!-- Bootstrap -->
        <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <!-- Custom CSS -->
        <link href="@routes.Assets.at("css/main.css")" rel="stylesheet">

        <!-- Font CSS -->
        <link href="http://fonts.googleapis.com/css?family=Revalia" rel="stylesheet" type="text/css">

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="@routes.Assets.at("js/jquery.min.js")"></script>
        <!-- Bootstrap plugins -->
        <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>
        <!-- Hyphenator for justified text -->
        <script src="@routes.Assets.at("js/Hyphenator.js")"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        @if(page == "Index") {
            @content
        } else { @if(page == "About" || page == "Contact") {
            <div class="description-box">
                <h1 class="description-title">@page</h1>
                <p class="description-text hyphenate">@content</p>
                <p>@comments</p>
            </div>
            } else {
                <div class="description-box">
                    <h1 class="description-title">@page</h1>
                    <p class="description-text hyphenate">@content</p>
                </div>
                @for(comment <- comments) {
                  <p>@comment.user: @comment.text</p>
                }
            }
        }
        @navbar(page)
        <script>Hyphenator.run();</script>
    </body>
</html>
