@(page: String, comments: List[Comment])(content: Html)

<!DOCTYPE html>
<html lang="en-us">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        @if(page == "Index") {
            <title>ATLAS</title>
        } else {
            <title>ATLAS - @page</title>
        }

        <!-- Bootstrap -->
        <link href="@routes.Assets.at("css/bootstrap.min.css")" rel="stylesheet">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

        <!-- Custom CSS -->
        <link href="@routes.Assets.at("css/main.css")" rel="stylesheet">

        <!-- Font CSS -->
        <link href="http://fonts.googleapis.com/css?family=Revalia" rel="stylesheet" type="text/css">

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="@routes.Assets.at("js/jquery.min.js")"></script>
        <!-- Bootstrap plugins -->
        <script src="@routes.Assets.at("js/bootstrap.min.js")"></script>
        <!-- Hyphenator for justified text -->
        <script src="@routes.Assets.at("js/Hyphenator.js")"></script>

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- Flash message -->
        @if(flash.size() > 0){
            @for((key, value) <- flash){
                <div class="alert alert-@key">@value</div>
            }
        }
        @if(page == "Index") {
            @content
        } else { @if(comments == null) {
            <div class="description-box">
                <h1 class="description-title">@page</h1>
                <p class="description-text hyphenate">@content</p>
            </div>
            } else {
                <div class="description-box">
                    <h1 class="description-title">@page</h1>
                    <p class="description-text hyphenate">@content</p>
                </div>
                <div class="comment-box">
                    @if(session.get("username")) {
                        <a class="btn btn-primary" id="add-comment-btn" onclick="toggleAddCommentArea()">Add comment...</a>
                        <h3>Comments</h3>
                        <div class="add-comment-area">
                            <form role="form" action="@routes.CommentController.save" method="post">
                                <button type="submit" class="btn btn-primary" id="save-comment-btn" href="#">Save</button>
                                <input type="hidden" name="page" value="@page"></input>
                                <input type="hidden" name="user" value="@session.get("username")"></input>
                                <textarea class="form-control" name="text"></textarea>
                            </form>
                        </div>
                    } else {
                        <h3>Comments</h3>
                    }
                    @if(comments.size() == 0) {
                        <p class="comment"><strong>No comments yet!</strong> Create an account to be the first to post.</p>
                    }
                    @for(comment <- comments) {
                        <p class="comment">
                        @if(comment.user == session.get("username")) {
                            <span class="glyphicon glyphicon-trash" onclick="window.location = '/comment/delete/@comment.id'"></span>
                            <span class="glyphicon glyphicon-pencil" onclick="window.location = '/comment/edit/@comment.id'"></span>
                        }
                        <strong>@comment.user:</strong> @comment.text </p>
                    }
                </div>
            }
        }
        @navbar(page)
        <script>Hyphenator.run();</script>
        <script>
            function toggleAddCommentArea() {
                if ($('#add-comment-btn').text() === 'Cancel') {
                    $('#add-comment-btn').text('Add comment...');
                    $('.add-comment-area').css({
                        'margin-top': '-95px',
                        'opacity': 0
                    });
                } else {
                    $('#add-comment-btn').text('Cancel');
                    $('.add-comment-area').css({
                        'margin-top': '0',
                        'opacity': 1
                    });
                }
           }
        </script>
    </body>
</html>
